<mat-card>
  <mat-card-header>
    <mat-card-title>Lijst van cursussen</mat-card-title>
  </mat-card-header>

  <mat-card-content>
      <mat-progress-spinner class="spinner"
      mode="indeterminate" color="primary" *ngIf="isLoading" >
    </mat-progress-spinner>

    <!-- TABLE -->
    <table mat-table [dataSource]="cursussen" class="mat-elevation-z8 cursussen-table" *ngIf="!isLoading">
      <!-- Start Column -->
      <ng-container matColumnDef="startDatum">
        <th mat-header-cell *matHeaderCellDef> Start </th>
        <td mat-cell *matCellDef="let element"> {{element.startDatum | date: 'dd/MM/yyy'}}</td>
      </ng-container>

      <!-- Code Column -->
      <ng-container matColumnDef="duur">
        <th mat-header-cell *matHeaderCellDef> Duur </th>
        <td mat-cell *matCellDef="let element"> {{element.duur}} </td>
      </ng-container>

      <!-- Titel Column -->
      <ng-container matColumnDef="titel">
        <th mat-header-cell *matHeaderCellDef> Titel </th>
        <td mat-cell *matCellDef="let element"> {{element.titel}} </td>
      </ng-container>

      <!-- Cursisten Column -->
      <ng-container matColumnDef="cursisten">
        <th mat-header-cell *matHeaderCellDef> Cursisten </th>
        <td mat-cell *matCellDef="let element"> {{element.aantalCursisten}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <button class="add-files-button" mat-raised-button type="submit" color="warn"
    (click)="fileUploaderToggle()"
  >Voeg Toe</button>

  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>
<mat-card *ngIf="openFileUploader">
  <mat-card-header>
  <mat-card-title>Upload nieuwe cursussen</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="cursussenForm">
      <!-- <input type="file" formControlName="file" file> -->
      <label for=FileUploader ><input id=FileUploader type="file" multiple="false" (change)="upload($event.target.files)" /></label>
      <button class="" mat-raised-button type="submit" color="warn" [disabled]="!cursussenForm.valid">Upload</button>
    </form>
  </mat-card-content>
</mat-card>
